.SbContainer {
    min-width: 16rem;
    width: auto;
    height: auto;
    min-height: 70vh;
    font-size: 14px;
}

.SbSub {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;

    &.open {
        max-height: 1000px; /* 충분히 큰 값으로 설정 */
        transition: max-height 0.3s ease-in;
    }
}

.SbTitle {
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 0;

    &:hover {
        background-color: #f6f6f2;
        cursor: pointer;
        border-right: solid 5px;
    }
}

.SbLink {
    color: inherit;
    text-decoration: inherit;
}

.depth-0 {
    padding-left: 0;
}
.depth-1 {
    padding-left: 20px;
}
.depth-2 {
    padding-left: 40px;
}
.depth-3 {
    padding-left: 60px;
}
.depth-4 {
    padding-left: 80px;
}
