* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppin", sans-serif;
    src: url("../../assets/Poppin.ttf") format("truetype");
}

.main-hero {
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));

    nav ul li a {
        color: #fff; // 메인 페이지의 텍스트 색상
    }
}

.other-hero {
    background-color: #ffffff;
}

button {
    cursor: pointer;
}
